.dataTables_filter {
    margin-bottom: 12px
}
#guestTable.dataTable th,
#guestTable.dataTable td {
  border: 1px solid #e5e7eb; /* Tailwind gray-200 */
}

/* Optional dark mode tweak */
.dark #guestTable.dataTable th,
.dark #guestTable.dataTable td {
  border-color: #374151; /* gray-700 */
}
#guestTable.dataTable tbody tr:hover {
  background-color: #f3f4f6; /* gray-100 */
}