.dataTables_filter {
    margin-bottom: 12px
}
#guestTable.dataTable, #reservationTable.dataTable th,
#guestTable.dataTable, #reservationTable.dataTable td {
  border: 1px solid #e5e7eb;
}

/* Optional dark mode tweak */
.dark #guestTable.dataTable,  .dark #reservationTable.dataTable  th,
.dark #guestTable.dataTable, .dark #reservationTable.dataTable th {
  border-color: #374151; /* gray-700 */
}
#guestTable.dataTable, #reservationTable.dataTable tbody tr:hover {
  background-color: #f3f4f6; /* gray-100 */
}